version: '3.8'

services:
  kali-gui:
    build: .
    container_name: kali_gui_lab
    ports:
      - "6080:6080"  # Acesso Web (NoVNC)
    environment:
      - USER=kali-user
    shm_size: "512mb" # Importante para navegadores dentro do Kali não travarem
    
    # Segurança e Recursos
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4G
    
    cap_drop:
      - ALL
    cap_add:
      - NET_RAW
      - NET_ADMIN

    volumes:
      - ./data:/home/kali-user/work
    
    networks:
      - kali_internal

networks:
  kali_internal:
    driver: bridge